.app-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.app-footer {
  margin-top: 40px;
}
.app-footer-bold {
  font-weight: bold;
}