.app-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.app-footer {
  margin-top: 40px;
  text-align: center;
}
.app-footer-bold {
  font-weight: bold;
}
.app-footer-task {
  font-size: 80%;
  margin-top: 28px;
}
