<app-payment-form (addEvent)="addEvent($event)"></app-payment-form>

<div class="app-items">
  <app-payment [items]="items"
               (changeEvent)="changeEvent($event)"
               (removeEvent)="removeEvent($event)"></app-payment>

  <div class="app-footer">
    Израсходовано средств: <span class="app-footer-sum">{{sum | number:'1.0'}}</span>
    <div class="app-footer-task">
      Задание: <a href="task.docx" target="_blank">Скачать (docx)</a>
      Резюме: <a href="https://novosibirsk.hh.ru/resume/912c4247ff027fe7020039ed1f6b466730566b" target="_blank">Никифоров Л. Е.</a>
    </div>
  </div>
</div>
